* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --height: auto;
    --border: 1px solid black;
    --text-align: center;
    --box-shadow: 0 0 30px gray;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main {
    max-width: 840px;
    padding: 20px;
}
aside {
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}
aside img {
    width: 200px;
    height: var(--height);
}
aside h2 {
    position: absolute;
    top: 500px;
    left: 150px;
    color: black;
}
main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 0;
    box-shadow: var(--box-shadow);
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: aquamarine;
    color: aliceblue;
}