* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --height: auto;
    --border: 1px solid black;
    --text-align: center;
    --box-shadow: 0 0 30px gray;
}
nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    }
h1 {
    color: darkblue;
    border-bottom: 2px solid black;
}
img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main {
    max-width: 840px;
    margin: 1rem;
    grid-column: 2/3;
    padding: 20px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 30px;
    left: 150px;
    color: black;
}
main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 0;
    box-shadow: var(--box-shadow);
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: aquamarine;
    color: black;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}